* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

/* .remove-btn {
  margin-right: 0.5rem;
}

.item-enter {
  transform: translateX(-350px);
}
.item-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
} */

.remove-btn {
  margin-right: 0.5rem;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
