@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Igra Sans";
    src: local('fonts/IgraSans.otf') format("otf");
}

html {
    font-family: "Igra Sans";
    font-size: 18px;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.slide-top {
	animation: slide-top 0.6s cubic-bezier(0.950, 0.050, 0.795, 0.035) both;
}

@keyframes slide-top {
    0% { transform: translateY(64px); opacity: 0;}       
    100% { transform: translateY(0px); opacity: 100;}
}
  
